<div>
  <h2><strong>Service or Part Description: </strong><%= @service.name %></h2>

  <div class="row">
    <div class="col-sm">
      <h4>
        <strong>Date of Service: </strong>
        <%= @service.date_of_service.strftime("%m/%d/%Y") %>
      </h4>
    </div>
    <div class="col-sm">
      <h4>
        <strong>Mileage: </strong>
        <%= @service.miles %>
      </h4>
    </div>
    <div class="col-sm">
      <h4>
        <strong>Warranty length: </strong>
        <%= @service.warranty_length %>
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <h4>
        <strong>Warranty length: </strong>
        <%= @service.warranty_length %>
      </h4>
    </div>
    <div class="col-sm">
      <h4>
        <strong>Cost: </strong>
        <%= @service.cost %>
      </h4>
    </div>
  </div>

  <div>
    <h4>
      <strong>Notes:</strong>
      <br />
      <%= @service.notes %>
    </h4>
  </div>
  <% if @service.receipt_image.attached? %>
    <%= image_tag url_for(@service.receipt_image.variant(resize: '500x500').processed), class: "img-fluid" %>
  <% else %>
    <div class="receipt-picture no-receipt-picture"></div>
  <% end %>

</div>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_vehicle_path(id: @vehicle.id) %>
