<% if notice %>
  <p id="notice" class="alert alert-success">
    <%= notice %>
  </p>
<% end %>


<h1>My Vehicles</h1>

<% if @vehicles %>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Vin</th>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Miles</th>
        <th>Color</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @vehicles.each do |vehicle| %>
      <tr>
        <td>
          <%= vehicle.vin %>
          <div>
            <small>
              <%= link_to 'Service History', services_vehicle_path(id: vehicle.id) %>
              <i class="fa fa-external-link text-primary" aria-hidden="true"></i>
              <span class="text-info">(<%= vehicle.services.count %> entries)</span>
            </small>
          </div>
        </td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.miles %></td>
        <td><%= vehicle.color %></td>
        <td class="text-center">
          <%= link_to 'Edit', edit_vehicle_path(vehicle), class: "btn btn-info" %>
          <%= link_to 'Destroy' , vehicle, class: "btn btn-danger" , method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'New Vehicle', new_vehicle_path, class: "btn btn-primary" %>

<% else %>
  <br />
  <br />
  Create Account or Login to access your vehicles
  <br />
  <%= link_to "Create Account" , new_user_registration_path, class:"btn btn-primary" %>
  <%= link_to "Login" , new_user_session_path, class:"btn btn-primary" %>
<% end %>
